* {
    box-sizing: border-box;
    cursor: default;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

header, footer, #game-board {
    text-align: center;
}

body {
    background-color: rgb(204, 231, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/leaves.webp);
}

p {
    color: black;
}

section {
    min-height: 100vh;
    overflow: auto;
    align-items: center;
}

/* Game Page */

#game-board {
    height: 700px;
    width: 800px;
    background-image: radial-gradient(rgb(78, 194, 78), darkgreen);
    border: rgb(211, 255, 211) 5px outset;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-body {
    width: 80%;
    height: 80vh;
    display: flex;
    gap: 40px;
}

#game, #table{  
    height: 100%;
}

#game {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    align-self: center;
}

.game-img {
    height: 50px;
    width: auto;
}

// Dice Roller

#dice-wrapper {
  display: flex;
  flex-direction: column;

  p {
    transform: translateY(15px)
  }

  // Click Button

  .click-area {
      width: 200px;
      height: 10vh;
      overflow: hidden;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 40px -30px inset;
      background-color: lightgray;
      border-radius:5%;
      
      &:hover {
          box-shadow: 0 0 40px -20px #0a8 inset;
      }
      
    }
    
    .throw {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor:pointer;
      z-index: 1;
    }
    
    
    $colors: (#955, #844, #633, #522, #411, #300);
    $t: 0.123s;
    
    @for $i from 1 through 6 {
      .throw-#{$i} {
        animation:cycle-dice $t steps(6, end) infinite;
        animation-delay: - ($t / 6) * $i;
        //background:nth([blue, red, green, yellow, pink, cyan], $i);
        opacity:1;
        
        &:active {
          position: static;
          margin-left: 200%;
          
          &:before {
            content:'';
            position: absolute;
            left: 0;right: 0;top: 0;bottom: 0;
            z-index: 18!important;
            //background:red;
          }
        }
      }
    }
    
    .click-area > .clear {
      display: none;
      text-align: center;
      line-height: 100px;
      color:white;
      text-shadow: 1px 1px black;
    }
    #roll-0:not(:checked) ~ .click-area > .clear{
      z-index:20;
      display: block;
    }
    
    [name=roll] {
      display: none;
    }
    
    
    @keyframes cycle-dice {
      0% {
        z-index: 10;
      }
      100% {
        z-index: 16;
      }
    }
    
    .wrapper {
      width: 100px;height:100px;
      margin:0 auto;
      perspective:400px;
      margin:1em auto;
      position: relative;
      pointer-events:none;
      
      transform-style:preserve-3d;
    }
    
    $rollDuration:2s;

    // Dice styling
    .dice {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top:-50px;
      margin-left:-50px;
      height:100px;
      width:100px;
      transition:transform $rollDuration ease-out; 
      
      //animation:rollDice 20s linear infinite;
      transform-style:preserve-3d; 
      transform-origin:center center -50px ;
      pointer-events:none;
    }
    
    
    $dot-c:rgba(255,245,100,.75);
    
    .face {
      position: absolute;
      width: 100px;
      height: 100px;
      background:#911;
      box-shadow: 0 0 8px -4px #999 inset;
      //backface-visibility:hidden;
      
      &:after {
        content:'';
        position: absolute;
        width:20px;
        height:20px;
        border-radius:50%;
        background:$dot-c;
        left: 25%;
        top: 25%;
        transform:translate(-50%, -50%);
      }
    }
    
    @for $i from 1 through 6 {
      .face-#{$i} {
        background:nth($colors, $i);
      }
    }
    
    .face-1:after  {
      left: 50%;
      top: 50%;
    }
    .face-2:after {
      box-shadow: 50px 50px $dot-c;
    }
    .face-3:after {
      box-shadow: 50px 50px $dot-c, 25px 25px $dot-c;
    }
    .face-4:after {
      box-shadow: 0 50px $dot-c, 50px 0 $dot-c, 50px 50px $dot-c;
    }
    .face-5:after {
      box-shadow: 0 50px $dot-c, 50px 0 $dot-c, 50px 50px $dot-c, 25px 25px $dot-c;
    }
    .face-6:after {
      box-shadow: 0 50px $dot-c, 50px 0 $dot-c, 50px 50px $dot-c, 0 25px $dot-c, 50px 25px $dot-c;
    }
    
    
    .face-1 {
      transform:rotateY(180deg);
    }
    .face-2 {
      transform-origin:left center;
      transform:rotateY(-90deg);
    }
    .face-3 {
      transform-origin:top center;
      transform:rotateX(90deg);
    }
    .face-4 {
      transform-origin:bottom center;
      transform:rotateX(-90deg);
    }
    .face-5 {
      transform-origin:right center;
      transform:rotateY(90deg);
    }
    .face-6 {
      transform:translateZ(100px);
    }
    
    
    .wrapper > .dice {
      transform:rotateX(8.5turn) rotateY(6turn) rotateZ(0) translateZ(-100px);  
    }
    #roll-1:checked ~ .wrapper > .dice {
      transform:rotateX(1turn) rotateY(-3.5turn) rotateZ(0) translateZ(-100px);
    }
    #roll-2:checked ~ .wrapper > .dice {
      transform:rotateX(2turn) rotateY(5.25turn) rotateZ(0) translateZ(-100px);
    }
    #roll-3:checked ~ .wrapper > .dice {
      transform:rotateX(3.75turn) rotateY(3turn)  rotateZ(0) translateZ(-100px) !important;
    }
    #roll-4:checked ~ .wrapper > .dice {
      transform:rotateX(5.25turn) rotateY(-1turn)  rotateZ(0) translateZ(-100px)!important;
    }
    #roll-5:checked ~ .wrapper > .dice {
      transform:rotateX(7turn) rotateY(7.75turn) rotateZ(0) translateZ(-100px)!important;
    }
    #roll-6:checked ~ .wrapper > .dice {
      transform:rotateX(6turn) rotateY(2turn) rotateZ(0) translateZ(-100px)!important;
    }
    
    
    
    .roll-result {
      left: 0;right: 0;
      text-align: center;
      opacity:0;
      pointer-events:none;
      font-weight: bold;
    }
    
    @for $i from 1 through 6 {
      #roll-#{$i}:checked ~ .rr#{$i} {
        transition:opacity 0s linear $rollDuration;
        opacity:1;
      }  
    }
}

#table {
    flex: 2;
}

#table #scoreboard{
    float:right;
    background: white;
    
}

#table #scoreboard td{
    padding: 5px
}

/*Hide border and outline of scoreboard input, align input text*/

td input{
  outline:none;
  border-radius: 0;
  border-style: none;
  text-align: center;
  width: 30px;
}


/* Rules Page */

#rules {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

  
#game, #table {
  height: 100%;
}

#game {
  flex: 3;
}

#table {
  flex: 2;
}

#table #scoreboard {
  float: right;
  background: white;
}

#table #scoreboard td {
  padding: 5px;
}

td input{
  outline:none;
  border-radius: 0;
  border-style: none;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: black;
  gap: 50px;
}

#rules {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#0093a5, #00a5e8);
  min-height: 60vh;
}

/*Hides overflow to only display one element of the rules carousel at a time*/

.carousel-container {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#0093a5, #00a5e8);
}

.carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}



.carousel-item {
  min-width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#0093a5,#008574);
  border: 2px solid silver;
  border-radius: 8px;
}

.carousel-item h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: white;
}

.carousel-container h1{
  color: white;
}

.carousel-item p {
  font-size: 1rem;
  color: white;
  text-align: center;
  line-height: 1.6;
}

input[type=radio] {
  width: 50pxl;
  accent-color: #009dcd;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.carousel-nav.prev {
  left: 10px;
}

.carousel-nav.next {
  right: 10px;
}

/*When a label is checked, all divs of class carousel-item are translated to the left. Since overflows are hidden by the parent, only one carousel-item is displayed at a time*/

#item1:checked ~ .carousel-item {
  transform: translateX(0%);
}

#item2:checked ~ .carousel-item {
  transform: translateX(-100%);

}

#item3:checked ~ .carousel-item {
  transform: translateX(-200%);
  
}

#item4:checked ~ .carousel-item {
  transform: translateX(-300%);
}

#item5:checked ~ .carousel-item {
  transform: translateX(-400%);
}

#item6:checked ~ .carousel-item {
  transform: translateX(-500%);
}

#item7:checked ~ .carousel-item {
  transform: translateX(-600%);
}

#item8:checked ~ .carousel-item {
  transform: translateX(-700%);
}

label[for=item1],
label[for=item8] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

label[for=item1] {
  left: 10px;
}

label[for=item2] {
  right: 10px;
}

label:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*All radio buttons/labels moved to under the carousel items*/

#item1{
  position: absolute;
  top: 95%;
  left: 42%;
  z-index:5;
}
#item2{
  position: absolute;
  top: 95%;
  left: 44%;
  z-index:5;

}

#item3{
  position: absolute;
  top: 95%;
  left: 46%;
  z-index:5;

}
#item4{
  position: absolute;
  top: 95%;
  left: 48%;
  z-index:5;

}
#item5{
  position: absolute;
  top: 95%;
  left: 50%;
  z-index:5;

}
#item6{
  position: absolute;
  top: 95%;
  left: 52%;
  z-index:5;

}
#item7{
  position: absolute;
  top: 95%;
  left: 54%;
  z-index:5;

}
#item8{
  position: absolute;
  top: 95%;
  left: 56%;
  z-index:5;

}

/*Remove decoration from link to rules pdf*/

.carousel-container a:link {
  text-decoration: none;
  color:white

}

.carousel-container a:visited {
  text-decoration: none;
  color:white

}

.carousel-container a:hover {
  text-decoration: underline;
  color:white

}

.carousel-container a:active {
  text-decoration: underline;
  color:white
}

/*# sourceMappingURL=styles.css.map */

